{% extends "baseges.html" %}

{% block title %} Bienvenido al sistema gestor de productos {% endblock %}

{% block body %}
    <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for messageprov in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ messageprov }}</strong>
        </div>
        {% endfor %}
        {% endif %}
            <br>
        <h2>Ingresa la informacion del proveedor</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrar_proovedor/" method="POST">{% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="number" id="txtCodigo" name="txtid" class="form-control" placeholder="Id del provedoor"required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre del proveedor"required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" name="txtdire" class="form-control" placeholder="Direccion del proveedor"required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" name="txtele" class="form-control" placeholder="Telefono del proveedor"required>
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" style="display: block; width: 100%;" class="btn btn-success btn-block text-white ">Guardar Proveedor</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <br>
        <h1>Listado de Proveedores</h1>
    <br>
    <div class="card card-body" style="text-align: center;">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in proveedores %}
                    <tr>
                        <td>{{p.id}}</td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.direccion}}</td>
                        <td>{{p.telefono}}</td>
                       <td>
                            <form action="{% url 'editar_proveedor' id=p.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-info">Editar</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'eliminar_proveedor' id=p.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
    <br>
    <br>
    <br>
    <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for messageprodu in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ messageprodu }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <br>
        <h2>Ingresa la informacion del Producto</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrar_producto/" method="POST">{% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="text" id="txtCodigo" name="txtidpro" class="form-control" placeholder="Id del producto"required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" name="txtNombrepro" class="form-control" placeholder="Nombre del producto"required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" name="txtdescrippro" class="form-control" placeholder="Descripcion del producto"required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" name="txtpreciopro" class="form-control" placeholder="Precio del producto"required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" name="txtcategopro" class="form-control" placeholder="Categoria del producto"required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" name="txtfabripro" class="form-control" placeholder="Fabricante del producto"required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="number" id="txtNombre" name="txtidproovee" class="form-control" placeholder="Id del Proveedor"required>
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" style="display: block; width: 100%;" class="btn btn-success btn-block text-white">Guardar Producto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Productos</h1>
    <br>
    <div class="card card-body" style="text-align: center;">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>

                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                        <th>Fabricante</th>
                        <th>Estado</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in productos %}
                    <tr>

                        <td>{{p.id}}</td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.descripcion}}</td>
                        <td>{{p.precio}}</td>
                        <td>{{p.categoria}}</td>
                        <td>{{p.fabricante}}</td>
                        <td>{{p.estado}}</td>
                        <td>
                            <form action="{% url 'editar_producto' id=p.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-info">Editar</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'eliminar_producto' id=p.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
{% endblock %}